In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel("Rent.xlsx")

In [3]:
df.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [4]:
df.drop([2], axis = 0, inplace = True)

In [5]:
df.head()

   area   rent
0  2000  31500
1  2100  35000
3  2250  36100
4  3000  52100
5  1900  32500

In [6]:
df.drop("rent", axis = 1, inplace = True)

In [7]:
df.head(20)

    area
0   2000
1   2100
3   2250
4   3000
5   1900
6   1500
7   1850
8   2700
9   2100
10  2150
11  2100
12  2100
13  2510
14  2250
15  3100
16  1800
17  1550
18  1800
19  2700
20  2110

In [8]:
df.drop(df.index[4:12], inplace = True)

In [9]:
df.head(20)

    area
0   2000
1   2100
3   2250
4   3000
13  2510
14  2250
15  3100
16  1800
17  1550
18  1800
19  2700
20  2110
21  2100
22  3500
23  1200
24  2800
25  3100
26  2750
27  1800
28  2200

# Load the save model

In [10]:
import joblib as jb
LR3 = jb.load("second")

In [11]:
LR3.predict([[2800]])

array([47901.6481129])

# Gradio Deployment

In [12]:
import gradio as gr

In [13]:
def rent_recom(x):
    rent = LR3.predict([[x]])
    return rent

In [14]:
rent_recom(3000)

array([52134.30695351])

In [15]:
interface = gr.Interface(
    fn = rent_recom,
    inputs = ['number'],
    outputs = ['number']
).launch(share = False)

Running on local URL:  http://127.0.0.1:7860

To create a public link, set `share=True` in `launch()`.